body {
  margin: 0;
}

.container {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0 auto;
  width: 1022px;
  font-family: 'Open Sans', sans-serif;
  background: #f1fcff;
  padding-top: 160px;
  padding-bottom: 100px;
}

.container::before {
  content: '';
  position: absolute;
  top:50px;
  left: 480px;
  width: 60px;
  height: 61px;
  background: url(logos/plane.png);
}

/* currency-filters */
.currency-filters {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 13px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(91,137,163,0.25);
}

.header {
  margin-left: 15px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 12px;
  color: #4a494a;
}

/* currency */
.currency {
  margin: 0 15px 35px 15px;
  display: flex;
}

.currency input {
  display: none;
}

.currency label {
  padding: 9px 22px;
  font-size: 12px;
  color: #2196f3;
  border-top: 1px solid #d2d5d6;
  border-right: 1px solid #d2d5d6;
  border-bottom: 1px solid #d2d5d6;
  border-left: 1px solid #d2d5d6;
}

label.eur,
label.usd {
  margin-left: -1px;
  border-left: 1px solid transparent;
}

label.rub {
  border-radius: 5px 0 0 5px;
}

label.eur {
  border-radius: 0 5px 5px 0;
}

.currency label:hover {
  border: 1px solid #2196f3;
  background: #f1fcff;
}

.currency input:checked + label {
  border: 1px solid #2196f3;
  background: #2196f3;
  color: #ffffff;
}
/* currency */

/* filters */
.for-checkbox-custom {
  display: flex;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.for-checkbox-custom input {
  display: none;
}

.checkbox-custom {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #d2d5d6;
  border-radius: 3px;
}

.for-checkbox-custom input:checked + .checkbox-custom {
  border: 1px solid #2196f3;
  background: #f1fcff;
}

.for-checkbox-custom input:checked + .checkbox-custom::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  top: 0;
  left: 0;
  background: url(logos/bird.svg);
}

.label {
  padding-left: 10px;
  font-size: 13px;
  color: #4a494a;
  vertical-align: middle;
  line-height: 21px;
}

.only {
  display: none;
  border: none;
  outline: none;
  margin-left: auto;
  padding: 0;
  padding-right: 15px;
  background: none;
  font-size: 11px;
  color: #2196f3;
  text-transform: uppercase;
}

.for-checkbox-custom:hover {
  background: #f1fcff;
}

.for-checkbox-custom:hover .only {
  display: inline;
}
/* filters */

.tickets {
  margin-right: 103px;
  margin-left: 20px;
}

/* ticket */
.ticket {
  display: flex;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(91,137,163,0.25);
}

/* ticket-left */
.logo-buy {
  border-right: 1px solid #eceff1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 27px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.logo-img {
  height: 32px;

}

.buy-button {
  margin: 0 20px 25px 20px;
  padding: 10px 40px;
  min-width: 160px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  background: #ff6c00;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 0px #d54d08;
}

.buy-button:hover {
  background: #ff8124;
}
/* ticket-left */

/* ticket-right-top */
.ticket-info {
  padding-right: 27px;
  padding-left: 27px;
  padding-top: 23px;
}

.time-stops {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.departure-time,
.arrival-time {
  font-size: 32px;
  color: #494949;
}
  
.departure-time {
  text-align: left;
  padding-right: 15px;
}

.arrival-time {
  text-align: right;
  padding-left: 24px;
}

.stops {
  align-self: center;
  position: relative;
  min-width: 94px;
  min-height: 16px;
  border-bottom: 1px solid #d2d5d6;
}

.stops-count {
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 10px;
  color: #8a9496;
  text-align: center;
  text-transform: uppercase;
}

.stops::after {
  content: '✈';
  position: absolute;
  right: -14px;
  bottom: -3px;
  width: 14px;
  height: 14px;
  color: #d2d5d6;
}
/* ticket-right-top */

/* ticket-right-bottom */
.point-date {
  display: flex;
  justify-content: space-between;
}

.departure-point-date,
.arrival-point-date {
  color: #494949;
  font-size: 12px;
}

.departure-point-date {
  text-align: left;
}

.arrival-point-date {
  text-align: right;
}

.departure-date,
.arrival-date {
  color: #8a9496;
}
/* ticket-right-bottom */
/* ticket */